* {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial ,sans-serif; 
}



#main {
  background-color: #eee;
  color: #333;
  border-radius: 10px;
}

#header {
  margin: 30px auto;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}

#img-content {
  background-color: white;
  border: 20px solid #eee;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  
}

#image {
  max-width: 100%;
  height: auto;
}

figcaption {
  margin-top: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

#date {
  font-weight: bold;
}

#tribute-info {
  margin: 0 auto;
  max-width: 45%;
}

li {
  margin: 20px
}
#quote, #quote-author {
  font-style: italic;
}

#footer {
  margin: 20px auto;
  text-align: center;
  max-width: 75%;
  padding-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
  
  figure {
    display: block;
    margin: 0 auto;
  }
  
  img {
    min-width: 100px;
  }


}
